body {font-family: "Roboto", sans-serif;
color: #2e2f42;
background-color: #ffff;}

ul {list-style-type: none;}


.section-one {background-color: #2E2F42;}

.section-one .main-title {font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffff;
}

.main-button {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffff;
background-color: #4D5AE5;
cursor: pointer;}